body {
    background: #adebff;
}

h1 {
    background: url(bilder/Vitgrund.jpg);
    background-position: -400px -200px;
    width: 400px;
    height: 400px;
    color: yellow;
    border: 20px solid yellow;
    font: 70px arial;
    padding: 20px;
}
