@import url('https://fonts.googleapis.com/css?family=Audiowide|Lato');
body {
    background: #000 url(bilder/earth.jpg) 100px 400px no-repeat;
}
h1 {
    color: #FFF;
    font: bold 80px 'Audiowide';
    width: 600px;
    margin-top: 100px;
    margin-left: 150px;
    background: #3a6ec1;
    padding: 20px;
    border: 2px solid #FFF;
}
h2 {
    color: #FFF;
    font: bold 30px 'Lato';
    width: 600px;
    margin-top: 30px;
    margin-left: 150px;
    background: #2d589d;
    padding: 20px;
    border: 3px dotted #FFF;
}
