/* CSS reset */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Sidans regler */
body {
    background: url(bilder/skane.jpg) fixed;
    color: yellow;;
}
h1 {
    font: italic 35px serif;
    text-transform: uppercase;
    margin: 100px 0 10px 100px;
}
p {
    font: italic 16px serif;
    margin: 0 0 10px 100px;
    padding: 20px;
    border: 2px solid yellow;
    border-radius: 10px;
    width: 450px;
    background: rgba(0, 0, 255, 0.5);
}
img {
    width: 100px;
    margin: 0 0 0 100px;
}
