/* Css-reset */
body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

/* Sidans utseende */
body {
    font: 16px sans-serif;
    background: url("bilder/allsvenskan-swirl.png") no-repeat top center;
}
table {
    border: 1px solid #CCCCCC;
    border-radius: 0 0 5px 5px;
    margin: 100px auto 0 auto;
    border-collapse: collapse; /* tar bort glappen */
    background: #FFF;
    width: 590px;
}
caption {
    background: #29497D;
    color: #FFF;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
}

/* Luftigare celler */
caption, th, td {
    padding: 10px;
    text-align: center;
}
/* Varannan rad grå */
.gra {
    background: #e5e5e5;
}
/* Klubbar justering vänster */
.klubb {
    text-align: left;
}
