/* Css-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

body {
    background: #BBB;
}

/* Boxens utseende */
.box {
    border: 1px solid #333;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    margin: 100px auto;
    background: url("bilder/sal.jpg") -50px 0;
    padding-left: 50px;
    box-shadow: 3px 3px 10px #333;
}
h1 {
    font-family: 'Ravi Prakash', cursive;
    font-size: 80px;
    color: #9de836;
    text-shadow: 2px 2px 0 #FFF;
}
h2 {
    font-family: 'Slabo 27px', serif;
    font-size: 40px;
    color: #6aa21d;
}
h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    color: #6aa21d;
}
