/* CSS reset */
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

body {
    background: url("bilder/beach.jpg");
    font-family: sans-serif;
    color: #FFF;
}
h1 {
    font-size: 80px;
    text-transform: uppercase;
    margin: 100px 0 0 80px;
}
h2 {
    font-size: 45px;
    margin: 80px 0 0 80px;
}
p {
    font-size: 30px;
    border: 5px solid #FFF;
    background: purple;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    margin: 250px 0 0 850px;
}
a {
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
}
