@import url(http://fonts.googleapis.com/css?family=Oswald);

/* CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

/* Sidans layout */
body {
    background: #e691f5;
    font-family: 'Oswald', sans-serif;
}
.kontainer {
    width: 600px;
    padding: 20px;
    margin: 20px auto;
    background: #FFF;
    border-radius: 10px;
}
header {
    background: #ad7ff7;
    color: #FFF;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}
h1 {
    font-size: 50px;
    text-shadow: 1px 1px 1px #000;
}

/* Navigationsmenyn */
nav ul {
    margin-left: 0;
    padding-left: 0;
}
nav li {
    display: inline;
    list-style-type: none;
}
nav li a {
    padding: 5px 10px;
    text-decoration: none;
    color: #ffffff;
    background: #CC9999;
}
nav li a:hover {
    background: #996666;
}
nav li .current {
    background: #FFCC66;
    color: #000000;
}

