/* CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

/* Sidans utseende */
/* Olika bakgrundsmönster på varje sida */
.bakgrund1 {
    background: url("bilder/pattern1.jpg");
}
.bakgrund2 {
    background: url("bilder/pattern2.jpg");
}
.bakgrund3 {
    background: url("bilder/pattern3.png");
}
.bakgrund4 {
    background: url("bilder/pattern4.jpg");
}
.bakgrund5 {
    background: url("bilder/pattern5.png");
}
.bakgrund6 {
    background: url("bilder/pattern6.jpg");
}

/* Boxen utseende med olika kantfärger */
.box {
    width: 600px;
    margin: 50px auto;
    padding: 50px;
    box-shadow: -8px 8px 10px #444;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.87);
}
.kant1 {
    border: 10px dashed #ff8989;
}
.kant2 {
    border: 10px dashed #cd89ff;
}
.kant3 {
    border: 10px dashed #89e4ff;
}
.kant4 {
    border: 10px dashed #89ff9b;
}
.kant5 {
    border: 10px dashed #dbff89;
}
.kant6 {
    border: 10px dashed #ffdf89;
}

/* All texts utseende */
h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 60px;
}
p {
    font-family: 'Pacifico', cursive;
    font-size: 25px;
}
a {
    font-family: 'Abril Fatface', cursive;
    color: red;
    text-decoration: none;
    font-size: 50px;
}

