/* CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

/* Färgpaletten med jultema */
.color-primary-0 { color: #FF251F }
.color-primary-1 { color: #FF7774 }
.color-primary-2 { color: #FF4E49 }
.color-primary-3 { color: #E60600 }
.color-primary-4 { color: #B30500 }

.color-secondary-1-0 { color: #FFAB1F }
.color-secondary-1-1 { color: #FFCB74 }
.color-secondary-1-2 { color: #FFBB49 }
.color-secondary-1-3 { color: #E68F00 }
.color-secondary-1-4 { color: #B37000 }

.color-secondary-2-0 { color: #235FB1 }
.color-secondary-2-1 { color: #6893CF }
.color-secondary-2-2 { color: #4276BD }
.color-secondary-2-3 { color: #0C4797 }
.color-secondary-2-4 { color: #093676 }

.color-complement-0 { color: #19CE25 }
.color-complement-1 { color: #66E16E }
.color-complement-2 { color: #3ED647 }
.color-complement-3 { color: #00B50C }
.color-complement-4 { color: #008D09 }

/* Layoutens utseende */
body {
    background: #b30500;
    color: #FFBB49;
}
.kontainer {
    width: 800px;
    background: #008d09;
    margin: 50px auto;
    padding: 30px;
    border-radius: 20px;
}
h1 {
    font-family: 'Mountains of Christmas', cursive;
    text-align: center;
    font-size: 80px;
    text-shadow: 0 0 20px #fff;
}

/* Artiklarnas utseende */
article {
    width: 700px;
    background: #b37000;
    margin: 50px auto;
    padding: 30px;
    font-family: 'Kelly Slab', cursive;
    border-radius: 20px;
    box-shadow: 0 0 10px #FFF;
}
article img {
    border: 5px solid #FFBB49;
    border-radius: 10px;
}
article blockquote {

}
article cite {

}
article hr {
    clear: both;
    visibility: hidden;
}
.left {
    float: left;
    margin-right: 20px;
}
.right {
    float: right;
    margin-left: 20px;
}
.qleft {
    text-align: right;
}



