/* Css-reset */
body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}
/* Ordspråkens utseende */
body {
    background: #dedede;
}
.rad1 {
    font-family: 'Shrikhand', cursive;
    background: linear-gradient(to bottom, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
    color: #FFF;
    text-shadow: 1px 1px 5px #000;
    padding: 10px;
    border-radius: 5px;
    width: 700px;
    margin: 40px 20px;
    font-size: 30px;
    text-align: center;
    box-shadow: -7px -8px 20px -4px rgba(0,0,0,0.75);
}
.rad2 {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to bottom, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
    color: #FFF;
    text-shadow: 1px 1px 5px #000;
    padding: 10px;
    border-radius: 5px;
    width: 700px;
    margin: 40px 20px;
    font-size: 30px;
    text-align: center;
    box-shadow: -7px -8px 20px -4px rgba(0,0,0,0.75);
}
.rad3 {
    font-family: 'Ravi Prakash', cursive;
    background: linear-gradient(to bottom, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
    color: #FFF;
    text-shadow: 1px 1px 5px #000;
    padding: 10px;
    border-radius: 5px;
    width: 700px;
    margin: 40px 20px;
    font-size: 30px;
    text-align: center;
    box-shadow: -7px -8px 20px -4px rgba(0,0,0,0.75);
}
.rad4 {
    font-family: 'Lobster', cursive;
    background: linear-gradient(to bottom, rgba(203,96,179,1) 0%, rgba(193,70,161,1) 50%, rgba(168,0,119,1) 51%, rgba(219,54,164,1) 100%);
    color: #FFF;
    text-shadow: 1px 1px 5px #000;
    padding: 10px;
    border-radius: 5px;
    width: 700px;
    margin: 40px 20px;
    font-size: 30px;
    text-align: center;
    box-shadow: -7px -8px 20px -4px rgba(0,0,0,0.75);
}
.rad5 {
    font-family: 'Abril Fatface', cursive;
    background: linear-gradient(to bottom, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 50%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%);
    color: #FFF;
    text-shadow: 1px 1px 5px #000;
    padding: 10px;
    border-radius: 5px;
    width: 700px;
    margin: 40px 20px;
    font-size: 30px;
    text-align: center;
    box-shadow: -7px -8px 20px -4px rgba(0,0,0,0.75);
}
