@import 'https://fonts.googleapis.com/css?family=Baloo+Bhai|Montserrat|Slabo+27px';
body {
    background-color: bisque;
}

h1 {
    font-family: 'Baloo Bhai', cursive;
    color: red;
    font-size: 50px;
}

h2 {
    font-family: 'Slabo 27px', serif;
    color: #e24fef;
    font-size: 30px;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}
